

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --background-purple: #0F0825;
    --gold-yellow: #f8bb02;
}

.raleway-font {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}



.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    //justify-content: center;

    min-height: 100vh;

    background-color: var(--background-purple);

    nav {
        position: relative;
        z-index: 5;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0px;
    
        height: 80px;
        width: 90%;

        color: var(--gold-yellow);

        
    
        h1 {
            font-size: 1.8rem;
        }
    
        div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 30%;
            
            //background-color: blue;

            span {
                position: relative;

                a {
                    position: relative;
                    text-decoration: none;
                    font-size: 1rem;
                    color: var(--gold-yellow);
                }
                &::after {
                    content: "";
                    position: absolute;
                    height: 3px;
                    width: 0px;
                    left: 0;
                    bottom: -8px;
                    background-color: white;
                    transition: 0.1s;
                }
                &:hover::after {
                    width: 100%;
                }
            }
            
        }
    }


    footer {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 20px;
        height: 300px;
        width: 100%;

        color: white;
        background-color: black;

        h2 {
            font-size: 1.3rem;
            font-weight: bolder;
            margin-bottom: 10px;
            color: var(--purple);
        }

        .footer-size {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100px;
            div {
                color: rgb(202, 202, 202);
                font-size: 0.8rem;
            }
        }

        .page-title {
            //background-color: orange;
        }

        .contact-footer {
            //background-color: blue;
        }

        .resources-footer {
            height: 80px;
            //background-color: green;
            h2 {
                margin-bottom: 10px;
            }
            ul {
                display: flex;
                flex-direction: column;
                row-gap: 10px;
                //background-color: blue;

                a {
                    font-size: 0.8rem;
                    text-decoration: none;
                    color: rgb(216, 216, 216);
                }
            }
        }
        
    }


}