



.contact-page {
    margin-top: 40px;
    height: auto;
    width: 90%;
    > h1 {
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 30px;
        color: white;
    }
}